<nav aria-label="breadcrumb">
					<ol class="breadcrumb" style="margin: 0">
						<%= breadcrumb :home %> <%= breadcrumb :about %>
					</ol>
</nav>
<div class="d-flex justify-content-center" style="background-color: RGBA(	211,211,211, 0.3)">

	<section class="dark-bg" id="hero">
		<div class="container border-radius h-80">
			<div class="d-flex h-100 flex-column text-light justify-content-center">
				<h1 class="display-1"><b>Privia Security A.Ş. Hakkında</b></h1>
				<p class="lead"><i>Güçlü, tecrübeli ve yetenekli bir ekibe ihtiyacınız varsa, doğru yerdesiniz!</i></p>
			</div>
		</div>
	</section>
</div>

<section class="generic" style="background-color: RGBA(	211,211,211, 0.3)">
	<div class="container">
		<h2 class="display-5 text-primary font-weight-bold mb-5"><i>BİZ KİMİZ?</i></h2>
		<div class="row mb-5">
			<div class="col-8 bg-light">
				<div class="d-flex h-100 flex-column justify-content-center" >
					<p>
						<b>
							Siber güvenlik alanında “Privacy For You” sloganı ile hareket ederek güvenlik ve gizlilik kavramlarına farklı bir bakış açısı getirmeyi planlayan Privia Security, sahip olduğu tecrübesi ve uzman kadrosu ile
							sektördeki yerini 2018 yılında aldı. Alanında uzman ve araştırmacı kadrosu ile kurumların siber güvenlik alanındaki tüm ihtiyaçlarına çözüm geliştirmek misyonuyla hareket eden Privia Security, ülkemizin önde
							gelen siber güvenlik araştırmacılarını kadrosunda barındırmaktadır. Privia Security, kurumların IT ve OT varlıklarına yönelik sızma (penetrasyon) testleri siber güvenlik eğitimleri, red team ve kurumlara özel
							geliştirilen yazılımlar gibi çözümlerle siber güvenlik sektöründe fark yaratmayı amaçlamaktadır.
						</b>
					</p>
				</div>
			</div>
			<div class="col-4 p-0">
				<img class="img-fluid" src="./img/siber_guvenlik.jpg" />
			</div>
		</div>

		<div class="row">
			<div class="col-8 bg-light">
				<div class="d-flex h-100 flex-column justify-content-center">
					<p><b> Privia Security olarak İstanbul ve Ankara‘da bulunan ofislerimizin yanı sıra Cumhuriyet Teknopark‘ta bulunan Ar-Ge merkezimizde müşterilerimize ve sektöre fayda üreten çalışmalarımıza devam etmekteyiz </b></p>
				</div>
			</div>
			<div class="col-4 p-0 order-first">
				<img class="img-fluid" src="./img/privia-security-kurumsal.jpg" />
			</div>
		</div>
	</div>
</section>
