<div class="d-grid place-items-center w-100">
    <div class="col-3 shadow-lg p-3 mb-5 bg-body rounded">
        
            <div class="card">
        
                <img src="/img/privialogo.jpeg" class="img-thumbnail" alt="privia image">

                <div class="card-body">
            
            
                    <h5 class="card-title fw-bold fst-italic">Hakkımızda</h5>
                    <p class="card-text fst-italic">Siber güvenlik alanında uzman kadromuzla kurumlara özel danışmanlık hizmetleri sunuyoruz. 
                    Eğitim, danışmanlık veya diğer talepleriniz için uzman ekibimiz ile iletişime geçerek bilgi alabilirsiniz.
                    <br><br><i class="fa-solid fa-envelope"></i> info@priviasecurity.com 
                    <br><br><i class="fa-solid fa-phone"></i> +90 216 999 4967 </p>
                </div>
            </div>
       
    </div>
</div>





