<section class="dark-bg">
<div class="container">
    <div class="d-flex h-50 flex-column text-dark justify-content-center">
        <h1 class="display-1 fw-bolder "> Privia Security Siber Güvenlik Hizmetleri </h1>
        <p class="lead fst-italic fw-bolder"> Siber Güvenlik Alanında Danışmanlık Çözümleri </p>
    </div>


    <div class="d-grid place-items-center w-100">
    <div class="col-12 shadow-lg p-3 mb-5 bg-body rounded w-100">
        
            <div class="card w-100 ">
        
                <img src="/img/red-teaming-gorseli.jpg" class="img-thumbnail" alt="privia image">

                <div class="card-body">
            
            
                    <h5 class="card-title fw-bold fst-italic text-primary">Red Team Hizmeti</h5>
                    <p class="card-text fst-italic">Kurumda yer alan açıklıkları, savunmasız bölgeleri, sistemleri ve kullanıcıları hedefleyen, 
                    riskleri belirlemek ve bunları değerlendirmek için oluşturulan bir siber güvenlik yaklaşımıdır.
                    
                </div>
            </div> 
       
    </div>
</div>
    <div class="d-grid place-items-center w-100">
        <div class="col-12 shadow-lg p-3 mb-5 bg-body rounded w-100">
            
                <div class="card w-100">
            
                    <img src="/img/siber-guvenlik-danismaligi-hizmeti.jpg" class="img-thumbnail" alt="privia image">

                    <div class="card-body">
                
                
                        <h5 class="card-title fw-bold fst-italic text-primary">Sürekli Siber Güvenlik Danışmanlığı</h5>
                        <p class="card-text fst-italic">Alanında uzman ekibimiz kurumunuza 365 gün 7/24 olarak bilgi güvenliği konularında yardımcı olmak için 
                        gerekli olan tüm uygulamaları gerçekleştirmektedir.
                        
                    </div>
                </div>
        
        </div>
    </div>
    <div class="d-grid place-items-center w-100">
        <div class="col-12 shadow-lg p-3 mb-5 bg-body rounded w-100">
            
                <div class="card w-100">
            
                    <img src="/img/sizma-testi-pentest-hizmetimiz.jpg" class="img-thumbnail" alt="privia image">

                    <div class="card-body">
                
                
                        <h5 class="card-title fw-bold fst-italic text-primary">Sızma Testi (Pentest) Hizmeti</h5>
                        <p class="card-text fst-italic">Sızma testleri, penetrasyon testi olarak bilinen IT varlıklarına yönelik gerçekleştirilen ve 
                        siber güvenlik tehditlerini önceden tespit etmek için kullanılan bir siber güvenlik hizmetidir.
                        
                    </div>
                </div>
    

        
        </div>
    </div>
<div class="d-grid place-items-center w-100">
    <div class="col-12 shadow-lg p-3 mb-5 bg-body rounded w-100">
            
        <div class="card w-100">
            
            <img src="/img/dos-ddos-testleri-hizmeti.jpg" class="img-thumbnail" alt="privia image">

            <div class="card-body">
                
                
                <h5 class="card-title fw-bold fst-italic text-primary">DOS ve DDOS Testleri Hizmeti</h5>
                <p class="card-text fst-italic">DOS veya DDOS testleri kurum ağına yönelik bir servis engelleme saldırısı sonucunda, 
                sistemlerin ne kadar süre ayakta kalabilecekleri tespit edilmeyi amaçlamaktadır.
                        
            </div>
        </div>
        
    </div>
</div>

</div>
</section>