<nav aria-label="breadcrumb">
					<ol class="breadcrumb" style="margin: 0">
						<%= breadcrumb :home %> <%= breadcrumb :services %>
					</ol>
</nav>

<div class="d-flex justify-content-center" style="background-color: RGBA(	211,211,211, 0.3)">
	<section class="dark-bg" id="hero">
		<div class="container border-radius h-80">
			<div class="d-flex h-100 flex-column text-light justify-content-center">
				<h1 class="display-1"><b>Privia Security Siber Güvenlik Hizmetleri</b></h1>
				<p class="lead"><i>Siber Güvenlik Alanında Danışmanlık Çözümleri</i></p>
			</div>
		</div>
	</section>
</div>
<div style="background-color: RGBA( 211,211,211, 0.3)">
	<div class="container col-10" >
		<div class="row">
			<div class="col shadow-lg p-3 mb-5 bg-body rounded w-100">
				<div class="card h-100">
					<img src="/img/red-teaming-gorseli.jpg" class="img-thumbnail" alt="privia image" />

					<div class="card-body">
						<h5 class="card-title fw-bold fst-italic text-primary">Red Team Hizmeti</h5>
						<p class="card-text fst-italic">
							Kurumda yer alan açıklıkları, savunmasız bölgeleri, sistemleri ve kullanıcıları hedefleyen, riskleri belirlemek ve bunları değerlendirmek için oluşturulan bir siber güvenlik yaklaşımıdır.
						</p>
					</div>
				</div>
			</div>
			<div class="col shadow-lg p-3 mb-5 bg-body rounded w-100">
				<div class="card h-100 mb-3">
					<img src="/img/dos-ddos-testleri-hizmeti.jpg" class="img-thumbnail" alt="privia image" />

					<div class="card-body">
						<h5 class="card-title fw-bold fst-italic text-primary">DOS ve DDOS Testleri Hizmeti</h5>
						<p class="card-text fst-italic">DOS veya DDOS testleri kurum ağına yönelik bir servis engelleme saldırısı sonucunda, sistemlerin ne kadar süre ayakta kalabilecekleri tespit edilmeyi amaçlamaktadır.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col shadow-lg p-3 mb-5 bg-body rounded w-100">
				<div class="card h-100 mb-3">
					<img src="/img/siber-guvenlik-danismaligi-hizmeti.jpg" class="img-thumbnail" alt="privia image" />

					<div class="card-body">
						<h5 class="card-title fw-bold fst-italic text-primary">Sürekli Siber Güvenlik Danışmanlığı</h5>
						<p class="card-text fst-italic">Alanında uzman ekibimiz kurumunuza 365 gün 7/24 olarak bilgi güvenliği konularında yardımcı olmak için gerekli olan tüm uygulamaları gerçekleştirmektedir.</p>
					</div>
				</div>
			</div>
			<div class="col shadow-lg p-3 mb-5 bg-body rounded w-100">
				<div class="card h-100 mb-3">
					<img src="/img/sizma-testi-pentest-hizmetimiz.jpg" class="img-thumbnail" alt="privia image" />

					<div class="card-body">
						<h5 class="card-title fw-bold fst-italic text-primary">Sızma Testi (Pentest) Hizmeti</h5>
						<p class="card-text fst-italic">
							Sızma testleri, penetrasyon testi olarak bilinen IT varlıklarına yönelik gerçekleştirilen ve siber güvenlik tehditlerini önceden tespit etmek için kullanılan bir siber güvenlik hizmetidir.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
