<div class="container-fluid">
	<div class="row py-3">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
								Müşteri Sayısı
							</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800"><%= User.member.count %></div>
						</div>
						<div class="col-auto">
							<i class="fa-solid fa-users"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
								Yönetici Sayısı
							</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800"><%= User.admin.count %></div>
						</div>
						<div class="col-auto">
							<i class="fa-solid fa-user"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Rapor Sayısı</div>
							<div class="row no-gutters align-items-center">
								<div class="col-auto">
									<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= Report.count %></div>
								</div>
								<div class="col">
									<div class="progress progress-sm mr-2">
										<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<i class="fa-solid fa-file"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
								Hizmet Sayısı
							</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">4</div>
						</div>
						<div class="col-auto">
							<i class="fa-solid fa-inbox"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<div class="col-lg-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Test Durumu</h6>
					</div>

					<div class="card-body">
						<h4 class="small font-weight-bold">Red Team<span class="float-right">20%</span></h4>
						<div class="progress mb-4">
							<div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<h4 class="small font-weight-bold">Sızma Testi<span class="float-right">40%</span></h4>
						<div class="progress mb-4">
							<div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<h4 class="small font-weight-bold">DOS ve DDOS Testleri<span class="float-right">60%</span></h4>
						<div class="progress mb-4">
							<div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<h4 class="small font-weight-bold">Internet of Things (IOT) Sızma Testleri <span class="float-right">80%</span></h4>
						<div class="progress mb-4">
							<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<h4 class="small font-weight-bold">Mobil Uygulama Sızma Testi <span class="float-right">Complete!</span></h4>
						<div class="progress">
							<div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 mb-4">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Bizimle İletişime Geçin!</h6>
					</div>
					<div class="card-body">
						<div class="text-center">
							<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="..." />
						</div>
						<p><i class="fa-solid fa-phone"></i> +90 216 999 4967</p>
						<p><i class="fa-solid fa-envelope"></i> info@priviasecurity.com</p>
						<p><i class="fa-solid fa-location-dot"></i> Tatlısu Mahallesi, Şenol Güneş Bulvarı, No:2A, Mira Tower K:14 D:67 Ümraniye, İstanbul</p>
					</div>
				</div>

				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Projenin Amacı</h6>
					</div>
					<div class="card-body">
						<p>
							<b>
								Gelişen teknolojiyle birlikte internet ortamında büyük güvenlik riskleri oluşmaktadır. Bu riskleri en aza indirmek için siber güvenlik şirketleri çeşitli testler yapmaktadır. Bu proje ise; Siber güvenlik
								şirketleriyle, müşterileri arasında köprü olmayı; bahsedilen testlere ve test sonuçlarına her iki tarafında kolayca erişebilmesini, daha planlı hareket etmeyi sağlamaktadır. Bunu da, siber güvenlik
								şirketlerinin müşterileri için yaptığı tüm testlerin raporlandığı bir portal ile sağlayacağız.
							</b>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; Your Website 2021</span>
		</div>
	</div>
</footer>
