

<%= render "form", report: @report %>

<br>

<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-light" type="button"> <%= link_to "Show this report", @report %> </button>
  <button class="btn btn-light" type="button"> <%= link_to "Back to reports", reports_path %> </button>
</div>


 
