

<%= render "form", report: @report %>

<br>

<div>
  <td><button type="button" class="btn btn-light"> <%= link_to "Show this report", @report %></button></td>
  <td><button type="button" class="btn btn-light"> <%= link_to "Back to reports", reports_path %></button></td>
</div>


