.chart-area {
    position: relative;
    height: 10rem;
    width: 100%;
    
  }
  
  .chart-bar {
    position: relative;
    height: 10rem;
    width: 100%;
    
  }
  
  .chart-pie {
    position: relative;
    height: 15rem;
    width: 100%;
    
  }